.b {
    font-weight: bold;
}

.hand {
    cursor: pointer;
}

/* Buttons */
.btn {
  border: none;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}
.green {background-color: #4CAF50;}
.green:hover {background-color: #46a049;}
.blue {background-color: #2196F3;}
.blue:hover {background: #0b7dda;}
.orange {background-color: #ff9800;}
.orange:hover {background: #e68a00;}
.red {background-color: #f44336;}
.red:hover {background: #da190b;}
.gray {background-color: #e7e7e7; color: black;}
.gray:hover {background: #ddd;}
/* .Buttons */
